body {
  margin: 0;
  letter-spacing: 0.08rem;
}

body a:hover {
  text-decoration: none;
}

:root {
  --bg-head-foot: #18191b;
  --bg-containers: #18191b;
  --bg-wrapper-containers: #020b0d;
  --font-primary: #ffff;
  --font-secondary: #6987ab;
  --font-secondary-hover: #39f;
  --bg-secondary-hover: #6987ab;
  --bg-icons-hover: #617530;

  --font-family-primary: "Saira Condensed";
  --font-family-secondary: "Open Sans";

  --bg-button-primary: #9bc23c;
  --bg-button-primary-hover: #81a035;
  --bg-button-secondary: #18191b;
}

.bg-color-head-foot {
  background-color: var(--bg-head-foot);
}

.bg-color-container{
  background-color: var( --bg-containers);

}

.bg-color-wrapper{
  background-color: var( --bg-wrapper-containers);

}

.services-section-4 img, .services-section-3 img{

width:70px;
height:70px
}


.services-section-2 img{

  width:40px;
  height:40px
  }

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav img {
  width: 140px;
  height: 60px;
}

.sm-grid-col-1 {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: auto;
  margin-bottom: 3rem;
}

.sm-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sm-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 765px) {
  .md-grid-col-2 {
    grid-template-columns: 1fr 1fr;
  }

  .md-grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .md-grid-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .md-mrg-bottom-1 {
    margin-bottom: 1rem;
  }

  .md-mrg-bottom-2 {
    margin-bottom: 2rem;
  }

  .md-mrg-bottom-3 {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 960px) {
  .lg-grid-col-2 {
    grid-template-columns: 1fr 1fr;
  }

  .lg-grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .lg-grid-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .lg-mrg-bottom-1 {
    margin-bottom: 1rem;
  }

  .lg-mrg-bottom-2 {
    margin-bottom: 2rem;
  }

  .lg-mrg-bottom-3 {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1220px) {
}
